<div layout="row" layout-align="center center">
  <md-card class="event-form-card">
    <md-toolbar color="primary">New Event</md-toolbar>
    <md-card-content class="event-form-content">
      <form class="event-form-element" (ngSubmit)="submit()" novalidate>
        <p>
          <md-input placeholder="What's the name?"
                    required
                    [(ngModel)]="title"
                    name="title"></md-input>
          <md-input placeholder="When is it?"
                    required
                    [(ngModel)]="datetime"
                    name="datetime">
            <md-hint align="end">{{ hintText }}</md-hint>
          </md-input>
        </p>
        <p class="image-select-text">Select an image for your event</p>
        <input type="file" (change)="onFileChange($event)" />
      </form>
    </md-card-content>
    <md-card-actions class="event-form-actions" layout="row" layout-align="end">
      <button md-raised-button color="primary" (click)="submit()">Create</button>
    </md-card-actions>
  </md-card>
</div>