<section class="events-container">
  <md-tab-group [selectedIndex]="0">
    <md-tab>
      <template md-tab-label>General</template>
      <template md-tab-content>

        <event-grid [events]="allEvents"></event-grid>

      </template>
    </md-tab>
    <md-tab>
      <template md-tab-label>Personal</template>
      <template md-tab-content>

        <user-bar></user-bar>

        <event-form></event-form>

        <event-grid [events]="eventService.userEvents"></event-grid>

      </template>
    </md-tab>
  </md-tab-group>
</section>