<div
  [ngClass]="{'event-item--completed': event.completed, 'event-item--editing': editing}"
  class="event-item"
  tabindex="0">

  <div class="cell">
    <button
      *ngIf="!editing"
      (click)="toggleStatus()"
      aria-label="Mark event as completed"
      class="event-item__button"
      type="button">
      <span class="icon material-icons" [ngClass]="{'icon--active': event.completed}">done</span>
    </button>
  </div>

  <div class="cell">
    <div
      *ngIf="!editing"
      class="event-item__title"
      tabindex="0">
      {{ event.title }}
    </div>

    <form class="event-form" *ngIf="editing" (ngSubmit)="saveTitle()" novalidate>
      <input
        [(ngModel)]="title"
        (blur)="stopEditing()"
        (keyup.escape)="stopEditing()"
        autocomplete="off"
        autoFocus
        class="event-item__input"
        name="title"
        type="text">
    </form>
  </div>

  <div class="cell">
    <button
      *ngIf="editing"
      (click)="stopEditing()"
      aria-label="Cancel editing"
      class="event-item__button"
      type="button">
      <span class="icon material-icons">&#xe14c;</span>
    </button>
    <button
      *ngIf="!editing"
      (click)="editTitle()"
      aria-label="Edit event title"
      class="event-item__button"
      type="button">
      <span class="icon material-icons">edit</span>
    </button>
    <button
      *ngIf="!editing"
      (click)="remove.emit()"
      aria-label="Delete event"
      class="event-item__button"
      type="button">
      <span class="icon material-icons">delete</span>
    </button>
  </div>
</div>
