md-card {
  margin: 6px;
  background-color: rgba(250,250,250,1);
  min-height: 124px;

  md-card-title {
    font-size: 18px;
    font-weight: 400;
  }
  md-card-subtitle {
    color: rgba(0,0,0,.54);

    &.countdown-days {
      font-style: italic;
    }
  }
  [md-card-sm-image] {
    width: auto;
    height: 64px;
  }
}

@media (min-width: 721px) {
  md-card {

  }
}