<main #eventCountdown class="event-countdown" layout="column" layout-align="center" (click)="makeWaves($event)">
  <section class="ink-section">
    <div id="ink"></div>
    <div class="content">
      <div layout="row" layout-align="center">
        <h1>{{ title }}</h1>
      </div>
      <div layout="row" layout-align="center">
        <div flex="20" class="content">
          <time>{{ dhms.day.value }}</time>
          <label>{{ dhms.day.label }}</label>
        </div>
        <div flex="20" class="content">
          <time>{{ dhms.hr.value }}</time>
          <label>{{ dhms.hr.label }}</label>
        </div>
        <div flex="20" class="content">
          <time>{{ dhms.min.value }}</time>
          <label>{{ dhms.min.label }}</label>
        </div>
        <div flex="20" class="content">
          <time>{{ dhms.sec.value }}</time>
          <label>{{ dhms.sec.label }}</label>
        </div>
      </div>
    </div>
  </section>
</main>